{% extends "pages/base.html" %}
{% block title %}حساب پرداز |انتخاب نماینده در نرم‌افزار حسابداری{% endblock %}
{% block content %}
<style>
img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

</style>
<H1 hidden>نرم افزار</H1>
<H2 hidden>حسابداری</H2>
<H3 hidden>حساب پردازنرم افزار حسابداری</H3>
<H4 hidden>برنامه حسابداری</H4>
<H5 hidden> برنامه نرم‌افزار حسابداری</H5>
<H6 hidden>نرم‌افزار مالی حسابداری</H6>
<title hidden>برنامه حسابداری حساب پرداز</title>
<section class="section team">
    <div class="wrap">
    <div class="team-grid">
     {% for agent in agent %}
      <div class="team-card">
        <div class="team-avatar avatar-c1"><img src="{{agent.img}}" alt=""></div>
        <h3>{{agent.firstName}} {{agent.lastName}}</h3>
        <span class="role">نماینده شرکت در استان {{agent.ostan}}</span>
        <p class="bio">آدرس : {{agent.address}}</p>
        <div class="links"><a href="#">تماس با نماینده</a><a href="{% url 'LASTfORM' agent.id %}">ثبت درخواست</a></div>
      </div>
      {% endfor %}
    </div>
    </div>
</section>
{% endblock %}
